modules = ["python-3.12"]
run = "streamlit run undefined"

[nix]
channel = "stable-25_05"
packages = ["glibcLocales"]

[deployment]
run = ["sh", "-c", "streamlit run undefined"]

[workflows]
runButton = "Run"

[[workflows.workflow]]
name = "Run"
author = 46767962
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "streamlit run streamlit_app/login.py --server.port 5000 --server.address 0.0.0.0"

[[ports]]
localPort = 8501
externalPort = 80
