streamlit
supabase
python-dotenv
requests
httpx
websockets==14.2
numpy==1.26.4
requests>=2.31.0
streamlit-audiorecorder
streamlit-cookies-manager
streamlit-mic-recorder
audio-recorder-streamlit==0.0.10
